<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>{{title}} ERROR</title>
</head>
<body>
    <main class="bd-content px-2 py-4" role="main">
        <div class="container">
            <h3>{{title}}</h3>
            <div>ERROR</div>
            <hr>
            <div class="form-group">
                <font color="red">{{message}}</font>
            </div>
            <div class="form-group">
                <a href="javascript:void(0);" onclick="window.history.back();">戻る</a>
            </div>
        </div>
    </main>
</body>
</html>
